# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
x64/
x86/
Debug*/
Release*/
build*/
out/

# Compiled binaries and intermediates
*.obj
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.idb
*.pch

# Logs and temporary
*.log
*.tlog
*.tmp
*.bak
*.cache
*.opendb
*.VC.db
*.VC.VC.opendb

# Temporary or analysis files
allfiles.txt
